<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.dao.map.FriendMap">
    <select id="selectFrd" resultType="friend">
		select * from friends where my_num = #{my_num};
	</select>

    <insert id="insertFrd">
        insert into friends(my_num, your_num)
        values (#{my_num}, #{your_num})
    </insert>
</mapper>