<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.dao.map.FriendMap">
    <select id="selectFrd" resultType="com.chat.model.Friend">
		select * from friends a
        join members b
        on a.your_id = b.id
        where my_id = #{my_id}
        order by nickname;
	</select>

    <select id="chkFrd" resultType="int">
        select count(*) from friends
        where your_id = #{your_id};
    </select>

    <insert id="insertFrd">
        insert into friends(my_id, your_id)
        values (#{my_id}, #{your_id})
    </insert>

    <delete id="delFrd">
        delete from friends
        where friend_num = #{friend_num}
    </delete>
</mapper>