<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.dao.map.MemberMap">
    <insert id="joinMember">
        insert into members(id, nickname, pwd, email, language)
        values (#{id}, #{nickname}, #{pwd}, #{email}, #{language})
    </insert>

    <select id="idCheck" parameterType="String" resultType="int">
		select COUNT(id) from members where id= #{id}
	</select>

    <select id="login" resultType="string">
        select pwd from members
        where id = #{id}
    </select>

    <select id="findId" resultType="string">
        select id from members
        where email = #{email}
    </select>

    <select id="findPwd" resultType="int">
        select COUNT(*) from members
        where id = #{id} and email = #{email}
    </select>

    <select id="updatePwd">
        update members
        set pwd = #{pwd}
        where id = #{id} and email = #{email}
    </select>

    <select id="searchId" resultType="com.chat.model.Member">
        select * from members
        where id like concat('%', #{keyword}, '%')
    </select>

    <select id="myPage" resultType="com.chat.model.Member">
        select * from members
        where id = #{id}
    </select>

    <select id="updateMem">
        update members
        set nickname = #{nickname}, email = #{email}, language = #{language}
        where id = #{id} and pwd = #{pwd}
    </select>
</mapper>