<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.dao.map.MessageMap">
	<select id='selectMsg' resultType='com.chat.model.Message'>
		select *
		from messages
		where room_num = #{room_num}
		order by time
	</select>

	<insert id='insertMsg'>
		insert into messages(room_num, sender_id, message, time)
		values( #{room_num}, #{sender_id}, #{message}, now())
	</insert>
</mapper>