<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.dao.map.MessageMap">
	<select id='selectMsg' resultType='message'>
		select *
		from messages
		where room_num = #{room_num}
		order by time
	</select>

	<insert id='insertMsg'>
		insert into messages(msg_id, room_num, sender_num, message, time)
		values(#{msg_id}, #{room_num}, #{sender_num}, #{message}, now())
	</insert>
</mapper>